html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #bbbbbb;
}

/* #checkbox-container {
    position: absolute;
    top: 50px;
    left: 50px;
} */